---
layout: default
---

<div class="container content" style="text-align: left">
    <h1 class="post-title" style="text-align: center">
        Books
    </h1>
    {% for post in site.categories.books %}
    <h2 style="text-align: center">
        {{ post.title }}
    </h2>
    <div>
        {{ post.subtitle }}
    </div>
    <div>
        {{ post.authors }}
    </div>
    <h4 style="text-align: center">
        <img src="{{ post.picture }}" alt="{{ post.title }}" style="text-align: center">
    </h4>
    <h7>
        <a href="{{site.baseurl}}{{ post.link }}">
            {{ post.title }}
        </a>
    </h7>
    {{ post.content}}

    {% endfor %}
</div>


{% assign page.comments = true %}

{% include disqus.html %}
