---
layout: default
---

<div class="container content" style="text-align: left">
    <h1 class="post-title" style="text-align: center">
        Books
    </h1>
    {% for post in site.categories.books %}
    <h2 style="text-align: center">
        {{ post.title }}
    </h2>
    <div style="text-align: center">
        <a href="{{site.baseurl}}{{ post.link }}">
            {{ post.subtitle }}
        </a>
    </div>
    <div>
        {{ post.authors }}
    </div>
    <div style="text-align:inline">
        <div style="text-align: left">
            <img src="{{ post.picture }}" alt="{{ post.title }}" style="text-align: center">
        </div>
        <div>
            {{ post.content}}
        </div>
    </div>

    {% endfor %}
</div>


{% assign page.comments = true %}

{% include disqus.html %}
