---
layout: default
---

<div class="container content" style="text-align: left">
    <h1 class="post-title" style="text-align: center">
        Books
    </h1>
    {% for post in site.categories.books %}
    <h2 style="text-align: center">
        {{ post.title }}
    </h2>
    <h4>
        {{ post.subtitle }}
    </h4>
    <h4>
        {{ post.authors }}
    </h4>

    <img src="{{ post.picture }}" alt="{{ post.title }}">
    <a href="{{site.baseurl}}{{ post.link }}" style="text-align: left">
        {{ post.title }}
    </a>

    {{ post.content}}

    {% endfor %}
</div>


{% assign page.comments = true %}

{% include disqus.html %}
